{%extends "signupLayout.html"%}
{%block head%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static "css/adminPage.css"%}">
<div class='head'>
<h2 class='studentTrack'>StudentTrack</h2>
<a class='links' id='createClassroom' href="{%url 'createClassroom'%}">Create new classroom</a>
<a class='links' id='addSubject' href="{%url 'addSubject'%}">Add new subject offered</a>
</div>
<h1 class='heading'>Welcome to StudentTrack</h1>
<h2>Sign up</h2>
<p class='helptext'>Give newly registered users a role or update the details of existing users</P>
{%endblock%}
{%block body%}
<h2>Create New User</h2>
<form method="POST" action="{%url 'createUser' %}">
    {%csrf_token%}
    {{userForm}}
    <input class='button' type='submit'/>
</form>


<h2 class='headers'>Classrooms</h2>
<section id='classrooms'>
{%for i in classes%}
<div class='classroom'>
    <p class='grade'>{{i.grade}}{{i.room}}</p>
    <form method="POST" action="{%url 'deleteClassroom' i.id%}">
        {%csrf_token%}
        <button type='submit' id='deleteClassroom' class='button'>Delete Classroom</button>
    </form>
    <a class='links' id='viewClassroom' href="{%url 'viewClassroom' i.id%}">View Classroom</a>
</div>
{%endfor%}
</section>

    <h2 id='subjectsHeader' class='headers'>Subjects Offered</h2>
<section id='subjects'>
{%for s in subjects%}
<div class='subject'>
    <a id='subjectView' action="{%url 'subjectView' s.id%}">{{s.name}}</a>
    <form method="POST" action="{%url 'deleteSubject' s.id%}">
        {%csrf_token%}
        <button id='deleteSubject' class='button' type='submit'>Delete subject</button>
    </form>
</div>
{%endfor%}
</section>

{%endblock%}