<!DOCTYPE html>
<html>
    <head>
        <title>
            Classroom
        </title>
        {%load static%}
        <link rel="stylesheet" type="text/css" href="{%static "css/tables.css"%}">
    </head>
    <body>
        <h1>Classroom Display</h1>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>D.O.B</th>
                    <th>Guardian</th>
                    <th>Performace</th>
                </tr>
            </thead>
            <tbody>
        {%for s in students%}
                <tr>
                    <td>{{s.user.username}}</td>
                    <td>{{s.dateOfBirth}}</td>
                    <td>{{s.guardian}}</td>
                    <td><a href="{%url 'studentView' s.user.id%}">View Performace</a></td>
                </tr>
        {%endfor%}
            </tbody>
        </table>
    </body>
</html>