<html>
    <head>
        <title>
            Login form
        </title>
        {%load static%}
        <link rel="stylesheet" type="text/css" href="{%static "css/forms.css"%}">
    </head>
    <body>
        <h1 id='heading'>Login</h1>
        <form method='POST' action="{%url 'userLogin'%}">
            {%csrf_token%}
            <input type='text' name='username' placeholder='Username'/>
            <input type='text' name='password' placeholder='Password'/></br>
            <input class='button' type='submit' value='Login' >
        </form>
    </body>
</html>